.sidebar {
    max-width: 23rem;
    flex: 0 0 23rem;
    padding: 25px 32px;
    height: 100vh;
    border-right: 1px solid var(--primary-borderline-colour);
    background-color: var(--bg-primary-colour);

    @include respond(tabdesk) {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        transition: transform .4s ease;
        transform: translateX(100%);
    }
}

.sidebar.open {
    transform: none;
    z-index: 1000;
}

.sidebar__logo {
    display: block;
}

.sidebar-menu {
    margin-top: 55px;
}

.filter__title {
    color: var(--text-primary-colour);
    margin-bottom: 12px;
    display: block;
}

.filter__list {
    .filter__item {
        margin-bottom: 12px;

        .filter__checkbox-wrap {
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }

        .filter__input[type=checkbox] {
            display: none;
        }

        .filter__checkbox-wrap input:checked+.filter__mask::before {
            opacity: 1;
        }
        .filter__checkbox-wrap input:checked+.filter__mask {
            background-color: var(--brand-primary-colour);
        }

        .filter__mask {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            background-color: var(--bg-gray-sidebar-checkbox-colour);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;

            &::before {
                content: '';
                position: absolute;
                background-image: url(../assets/icons/check-icon.svg);
                background-repeat: no-repeat;
                background-position: center center;
                width: 12px;
                height: 12px;
                opacity: 0;
            }
        }
    }
}